html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#loading-view {
    position: absolute;
    z-index: 10000;
    background: white;
}

.loading-title {
    height: 80px;
    margin-left: 24px;
}

.loading-view-area {
    width: 100vw;
    height: 100vh;

    /* -webkit-animation: hide-loading 2.5s 0s forwards;
    animation: hide-loading 2.5s 0s forwards; */
}

.loading-content-area {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.loading-content {
    border: 10px double grey;
    padding: 2px;
}

.loading-content-text {
    position: absolute;
    font-size: x-large;
    padding: 5px;
    color: black;
    z-index: 5;
    font-weight: 800;

    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.loading-content-img {
    object-fit: contain;
    z-index: 3;

    width: 100%;
    max-height: 360px;
}

.loading-view-slide-bar-area {
    width: 100%;
    height: 20px;
    border: 0;

    position: absolute;
    bottom: 0;
}

.loading-view-slide-bar {
    width: 0;
    height: 100%;
    background-color: grey;

    -webkit-animation: slide-loading 2.5s 0s forwards;
    animation: slide-loading 2.5s 0s forwards;
}

.loading-content-tip-text-area {
    text-align: center;
}

.loading-content-tip-text-fix {
    margin-right: 5px;
    font-weight: 800;
}

.loading-content-tip-text {
    font-weight: 600;
    font-size: small;
}

.loading-closing-text-area {
    position: absolute;
    bottom: 1px;
    font-size: small;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 10001;
}

#loading-closing-text {
    display: none;
    
    -webkit-animation: blink-object 0.8s 0s infinite;
    animation: blink-object 0.8s 0s infinite;
}

@-webkit-keyframes slide-loading {
    0%{width: 0}
    100% {width: 100%;}
}

@keyframes slide-loading {
    0%{width: 0;}
    100% {width: 100%;}
}

@-webkit-keyframes hide-loading {
    0%{display: block;}
    100% {display: none;}
}

@keyframes hide-loading {
    0%{display: block;}
    100% {display: none;}
}

@-webkit-keyframes blink-object {
    0%{opacity: 0}
    100% {opacity: 100%;}
}

@keyframes blink-object {
    0%{opacity: 0;}
    100% {opacity: 100%;}
}

@media(max-width: 762px) {
    .loading-content-area {
        width: 80%;
    }

    .loading-view-slide-bar-area {
        height: 30px;
    }

    .loading-closing-text-area {
        bottom: 6px;
    }
}